version: '3.9'

services:
  wma_redisdb:
    restart: always
    container_name: wma_redisdb
    image: redis:alpine
    command: redis-server --save 60 1 --loglevel warning --requirepass "${REDIS_PASSWORD}"
    networks:
      - ws-messaging-app
    env_file:
      - .env
    volumes:
      - ./.docker-volumes/redis_volume:/data

  wma_postgresql:
    restart: always
    container_name: wma_postgresql
    image: postgres:alpine
    volumes:
      - ./.docker-volumes/postgres_volume:/var/lib/postgresql/data
    env_file:
      - .env
    networks:
      - ws-messaging-app

  wma_api:
    restart: always
    environment:
      APP_FORK: "false"
      APP_ENV: "production"
      REDIS_URI: "wma_redisdb:6379"
      APP_SELF_CONTAINED: "true"
    build:
      context: .
      dockerfile: docker/api.dockerfile
    env_file: .env
    networks:
      - ws-messaging-app
    depends_on:
      - wma_redisdb
      - wma_postgresql

  wma_proxy:
    restart: always
    container_name: wma_proxy
    build:
      context: .
      dockerfile: docker/nginx.dockerfile
    ports:
      - 8080:8080
    networks:
      - ws-messaging-app
    depends_on:
      - wma_api

  wma_migrator:
    restart: 'no'
    container_name: wma_migrator
    env_file: .env
    build:
      context: .
      dockerfile: docker/migrator.dockerfile
    networks:
      - ws-messaging-app

networks:
  ws-messaging-app:
    driver: bridge
