.header {
    background-color: var(--background);
    width: 100%;
    height: 70px;
}

.headerContainer {
    max-width: calc(960px + 32px);
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    align-items: center;
}

.left a {
    color: var(--foreground);
}

.right button {
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.582);
    color: var(--text);
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    width: 90px;
}

.right .pink {
    background-color: var(--pink);
}

.right .purple {
    background-color: var(--purple);
}

.right .green {
    background-color: var(--green);
}

.right .pink:hover {
    background-color: var(--pink-hover);
}

.right .purple:hover {
    background-color: var(--purple-hover);
}

.right .green:hover {
    background-color: var(--green-hover);
}
