.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 30%;
    max-width: 60%;
    padding: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.226);
    border-radius: 8px;
}

.self {
    background-color: var(--pink-hover);
    align-self: flex-end;
}

.other {
    background-color: var(--purple-hover);
    align-self: flex-start;
}

.other .metadata {
    text-align: start;
}

.self .metadata {
    text-align: end;
}

.body {
    margin: 16px;
}

@media screen and (max-width: 620px) {
    .message {
        max-width: 80%;
    }
}
